header.appHeader {
  background: rgb(1 14 15);
  color: #E5C97B;
  width: 100vw;

  .innerContainer {
    @include uiContainer(
       var(--base-container-width),
       var(--base-container-margin)
    );

    background: rgb(255 0 0 / .25);

    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem; // 1em = 20px

    section.branding {
      display: inherit;
      align-items: inherit;
      gap: toLocalEm(25, 20);

      svg.logo {
        height: toLocalEm(51, 20);
      }

      article.short__desc {
        @extend %secondaryFont;

        max-width: toLocalEm(201, 20);
        line-height: toLocalEm(18.2, 20);

        font-weight: 400;

        h2.desc {
          font-size: toLocalEm(14, 20);
          letter-spacing: 0;
          text-align: left;
          font-weight: 400;
        }
      }
    }

    section.contacts {
      display: inherit;
      align-items: inherit;
      gap: toLocalEm(74, 20);

      a.contact__link {
        @extend %secondaryFont;

        font-size: toLocalEm(15, 20); // 1em = 15px
        line-height: toLocalEm(18.2, 15);
        color: #F0D683;
        text-decoration: underline dashed 1px currentColor;
      }

      article.contact__data {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;

        h3.phone__number {
          font-size: toLocalEm(20, 20); // 1em = 20px
          line-height: toLocalEm(24, 20);
          font-weight: 400;
          letter-spacing: 0.05em;
          color: #FFF;
        }
      }
    }
  }
}
