.main__welcome__wrapper {
  position: relative;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
    background: url("assets/images/backgrounds/shadow-bg.png");
    background-size: cover;
  }

  section.main__welcome {
    @include uiContainer(
      var(--base-container-width),
      var(--base-container-margin)
    );

    font-size: 1rem; // 1em = 20px
    padding:
            toLocalEm(89, 20)
            0
            toLocalEm(160.4, 20)
            0
    ;

    h1 {
      @include margin-horizontal(auto);

      text-align: center;
      font-size: toLocalEm(56, 20); // 1em = 56px
      line-height: toLocalEm(67.2, 56);
      font-weight: 400;
      max-width: toLocalEm(792, 56);
      text-transform: uppercase;

      display: flex;
      flex-direction: column;
      align-items: center;

      span.primary {
        color: #F0D683;
      }

      span.secondary {
        color: #FFFFFF;
      }
    }

    .furniture__wrapper {
      display: grid;
      grid-template-columns: 1fr 1.4fr 1fr;
      grid-template-rows: 1fr toLocalEm(160.594, 20) 1fr;
      position: relative;
      margin-top: toLocalEm(32, 20);

      article.economy__welcome {
        @include gridColumn(2, 1);

        @extend %secondaryFont;

        background: red;

        font-size: toLocalEm(30, 20); // 1em = 30px
        font-weight: 700;
        line-height: toLocalEm(39, 30);
        text-align: center;
        color: #FFFFFF;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: toLocalEm(30, 30);

        strong {
          font-weight: inherit;
          color: #F0D683;
        }

        .reserve__welcome {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: toLocalEm(20, 30);
          position: relative;

          button.reserve__button {
            @extend %mainFont;

            background: linear-gradient(90deg, #67310A -108.98%, #F0D683 129.77%);
            text-transform: uppercase;
            font-size: toLocalEm(20, 30); // 1em = 20px

            padding:
              toLocalEm(18, 20)
              toLocalEm(32, 20)
            ;

            border-radius: toLocalEm(10, 20);
            line-height: toLocalEm(24, 20);
            letter-spacing: .05em;
            font-weight: 400;
          }

          .call_to_action {
            font-size: toLocalEm(12, 30); // 1em = 12px
            line-height: toLocalEm(15.6, 12);
            height: fit-content;
            width: min(100%, toLocalEm(249.91, 12));
            text-align: center;
            font-weight: 400;
          }

          .arrow {
            @extend %flexCenter;

            position: absolute;
            top: 0;
            right: .4em;
            height: 100%;
            width: toLocalEm(58, 30);

            .body {
              width: 100%;
              aspect-ratio: 58/91;
              background: url("assets/images/other/arrow-left 1.png");
            }
          }
        }
      }

      img.sofa__welcome {
        @include gridColumn(1, 3);

        grid-row-start: 2;
        grid-row-end: 4;
        width: 100%;
      }
    }
  }
}
