@import "nullstyles";
@import "imports";

// Import layout styles
@import "layout/header";

:root {
  @extend %mainFont;

  --base-container-width: 1504px;
  --base-container-margin: 2rem;

  font-size: 20px; // 1rem = 20px
}

// Import Bootstrap styles if you need
// @import "~bootstrap/scss/bootstrap";
